[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "src/github.com/stretchr/objx"]
	path = src/github.com/stretchr/objx
	url = https://github.com/stretchr/objx.git
