---
platform: linux
image_resource:
  type: docker-image
  source: { repository: bosh/s3cli }
inputs:
- name: bosh-s3cli
run:
  path: bosh-s3cli/ci/tasks/run-integration-aws-iam.sh
params:
  access_key_id:
  secret_access_key:
  region_name:
  stack_name:
